<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.LnR.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>servlet.LnR.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCourseServlet</servlet-name>
    <servlet-class>servlet.teacher.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showCourseListServlet</servlet-name>
    <servlet-class>servlet.student.ShowCourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showCourseListServlet</servlet-name>
    <url-pattern>/ShowCourseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>isCrsTakenServlet</servlet-name>
    <servlet-class>servlet.student.IsCrsTakenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>isCrsTakenServlet</servlet-name>
    <url-pattern>/IsCrsTakenServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>addChooseServlet</servlet-name>
    <servlet-class>servlet.student.AddChooseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addChooseServlet</servlet-name>
    <url-pattern>/AddChooseServlet</url-pattern>
  </servlet-mapping>
</web-app>